@import url(reset.css);

body {
    font-family: 'Pretendard', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: white;
    color: #333;
    text-align: center;
}

header {
    background-image: url(../images/header.png);
    background-size: cover;
    height: 137px;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 160px;
    padding-top: 15px;
}

header ul li a {
    color: #8fc59b;
    font-weight: 500;
    text-decoration: none;
}

div {
    padding: 10px;
}

.home {
    text-align: center;
    position: relative;
    display: inline-block;
    margin-top: -50px;
}

.home > h1 {
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-size: 65px;
    font-style: normal;
    margin-top: -15px;
}

span {
    color: #279B00;
}

.base {
    display: block;
    width: 453px;
    text-align: center;
}

.overlay {
    position: absolute;
    top: 65px;     /* 겹치는 위치 조절 */
    left: 125px;
    width: 300px;
    height: auto;
    text-align: center;
    pointer-events: none; /* 클릭 막기 원할 경우 */
}

h1, h2, h3 {
    text-align: center;
}

.card {
    background: white;
    padding: 20px;
    margin: 20px auto;
    max-width: 1408px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

strong {
    color: #279B00;
    font-weight: 700;
}

.about img {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.about {
    align-items: center;
    gap: 30px;
    padding: 20px;
}


.about ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

li > img {
    align-items: center;
}

.contact img {
    height: 50px;
    width: auto;
}

footer {
    background-image: url('../images/footer.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    color: #8fc59b;
    font-size: 16px;
    text-align: center;

    height: 137px; /* footer.png 높이보다 살짝 크거나 같게 */
    display: flex;
    justify-content: center; /* 가로 가운데 */
    align-items: center;     /* 세로 가운데 */
}

footer > p {
    padding-top: 90px;
}