@media (max-width: 768px) {
    body {
        font-size: 16px;
    }
        
    .container {
        padding: 0 15px;
    }
        
        /* 헤더 */
    header {
        height: 100px;
        z-index: 1000;
    }
        
    header ul {
        gap: 50px;
        font-size: 18px;
        padding-top: 10px;
    }
        
    /* 홈 */
    .home {
        margin-top: 130px;
        margin-left: 20px;
        margin-bottom: 130px;
    }
        
    .home h1 {
        font-size: 45px;
    }
        
    .base {
        width: 100%;
        max-width: 400px;
    }
        
    .overlay {
        left: 100px;
        width: 250px;
    }
        
    /* About */
    .about {
        padding: 80px 20px 0 auto;
        margin-top: 50px;
    }
        
    .about-container {
        flex-direction: column;
        gap: 30px;
    }
        
    .about-container img {
        width: 60%;
        margin: 0;
    }
        
    .info {
        margin-top: 0;
        text-align: center;
        }
    
    .info-row {
        flex-direction: row;
        gap: 5px;
    }

    .label {
        width: 100px;
        text-align: left;
        margin-left: 45px;
    }
    
    .career-list .date {
        width: 100px;
        text-align: left;
    }

    /* Favorite */
    .favorite h2 {
        padding-left: 20px;
        text-align: center;
    }
        
    .favorite-wrapper {
        flex-direction: column;
        align-items: center;
        padding: 0 10px;
        margin-left: 120px;
    }
        
    .favorite-card {
        transform-origin: left;
        transition: width 0.4s ease;
        width: 65%;
        height: 80%;
        overflow-x: auto;
        padding: 20px;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        box-shadow: none;
        margin-left: -60px;
    }

    .favorite-card:hover {
        width: 100%;
    }

    .movie-description,
    .book-description {
        width: 500px !important;
        opacity: 1 !important;
        padding-right: 20px;
        flex-shrink: 20px;
        min-width: 400px;
        margin-top: -50px;
    }

    .favorite-image img {
        width: 250px;
        padding-right: 50px;
        scroll-snap-align: start;
    }
        
    /* Project */
    .project h2 {
        padding-left: 20px;
        text-align: center;
    }
        
    .card-wrapper {
        flex-direction: column;
        gap: 30px;
    }
        
    .card {
        width: 90%;
        max-width: 400px;
        height: auto;
        margin-left: 60px;
    }
        
    .swiper-slide {
        gap: 20px;
    }
        
    /* Contact */
    .contact {
        margin-top: 100px;
        padding-top: 100px;
        padding-bottom: 150px;
    }
        
    .contact h2 {
        font-size: 19px;
    }
        
    .contact li {
        margin: 30px auto 15px auto;
        justify-content: left;
        padding-left: 90px;
    }
        
    .contact img {
        height: 25px;
        margin-right: 20px;
    }

    .contact p, .contact span, .contact a {
        font-size: 19x;
    }
        
    /* Footer */
    footer {
        height: 100px;
    }
        
    footer > p {
        padding-top: 60px;
    }
    }